Repository kuamatzin/price-tracker-gas-stations: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, php -l

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.php": ["php -l"]
}

chore: add infrastructure and setup scripts
  infrastructure/docker/Dockerfile.api
  infrastructure/docker/Dockerfile.scraper
  infrastructure/docker/docker-compose.yml
  infrastructure/docker/nginx.conf
  infrastructure/docker/supervisord.conf
  scripts/setup.bat
  scripts/setup.sh
Due: prettier --write

feat: implement database schema with all tables and migrations
  apps/api/app/Helpers/FuelTypeMapper.php
  apps/api/app/Models/User.php
  apps/api/database/migrations/0001_01_01_000000_create_users_table.php
  apps/api/database/migrations/2025_08_13_125827_create_entidades_table.php
  apps/api/database/migrations/2025_08_13_125850_create_municipios_table.php
  apps/api/database/migrations/2025_08_13_125908_create_stations_table.php
  apps/api/database/migrations/2025_08_13_125942_create_price_changes_table.php
  apps/api/database/migrations/2025_08_13_130100_create_user_stations_table.php
  apps/api/database/migrations/2025_08_13_130121_create_api_tokens_table.php
  apps/api/database/migrations/2025_08_13_130154_create_alerts_table.php
  apps/api/database/migrations/2025_08_13_130214_create_alert_notifications_table.php
  apps/api/database/migrations/2025_08_13_130247_create_scraper_runs_table.php
  apps/api/database/seeders/LocationSeeder.php
  apps/api/tests/Unit/FuelTypeMapperTest.php
  docs/stories/1.2.story.md
Due: prettier --write, php -l

feat: configuration environmets
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  apps/api/.env.example
  apps/scraper/.env.example
  apps/scraper/package.json
  apps/scraper/src/config.ts
  apps/scraper/src/db/connection.ts
  apps/web/.env.example
  apps/web/vercel.json
  docs/EXTERNAL_SERVICES.md
  docs/SECRETS.md
  docs/stories/1.2.story.md
  docs/stories/1.3.story.md
  docs/stories/1.4.story.md
  scripts/github-secrets-setup.md
  scripts/setup-telegram-bot.md
  scripts/test-deepseek.js
Due: prettier --write

fix: resolve database compatibility issues for PostgreSQL in historical data API
  .husky/commit-msg
  .husky/pre-commit
  apps/api/app/Repositories/HistoricalDataRepository.php
  apps/api/app/Services/MarketAggregationService.php
  apps/api/app/Services/TrendAnalysisService.php
  docs/stories/2.3.story.md
Due: prettier --write, php -l

feat(api): implement OpenAPI documentation and Postman collection
  apps/api/app/Http/Controllers/Controller.php
  apps/api/config/l5-swagger.php
  apps/api/postman/FuelIntel-API.postman_collection.json
  apps/api/postman/FuelIntel-Development.postman_environment.json
  apps/api/storage/api-docs/api-docs.json
  docs/stories/2.6.story.md
Due: prettier --write, php -l

feat(auth): implement comprehensive authentication system with JWT
  apps/api/app/Http/Controllers/Auth/LoginController.php
  apps/api/app/Http/Controllers/Auth/LogoutController.php
  apps/api/app/Http/Controllers/Auth/PasswordResetController.php
  apps/api/app/Http/Controllers/Auth/RefreshController.php
  apps/api/app/Http/Controllers/Auth/RegisterController.php
  apps/api/app/Http/Controllers/ProfileController.php
  apps/api/app/Http/Middleware/AccountLockout.php
  apps/api/app/Http/Middleware/EnsureEmailIsVerified.php
  apps/api/app/Http/Middleware/ThrottleByTier.php
  apps/api/app/Http/Requests/Auth/LoginRequest.php
  apps/api/app/Http/Requests/Auth/RegisterRequest.php
  apps/api/app/Mail/ResetPasswordMail.php
  apps/api/config/sanctum.php
  apps/api/database/migrations/2025_08_14_183154_create_personal_access_tokens_table.php
  apps/api/database/migrations/2025_08_14_183751_create_password_resets_table.php
  apps/api/resources/views/emails/auth/reset.blade.php
  apps/api/resources/views/emails/auth/welcome.blade.php
  apps/api/tests/Feature/AuthenticationTest.php
  docs/stories/2.1.story.md
Due: prettier --write, php -l

feat(telegram): implement Telegram bot with command structure
  apps/api/.env.example
  apps/api/app/Exceptions/Telegram/BotExceptionHandler.php
  apps/api/app/Http/Controllers/TelegramController.php
  apps/api/app/Models/TelegramUser.php
  apps/api/app/Providers/TelegramServiceProvider.php
  apps/api/app/Services/Telegram/CallbackHandler.php
  apps/api/app/Services/Telegram/CommandParser.php
  apps/api/app/Services/Telegram/CommandRegistry.php
  apps/api/app/Services/Telegram/MessageRouter.php
  apps/api/app/Services/Telegram/SessionManager.php
  apps/api/app/Services/Telegram/TelegramSession.php
  apps/api/app/Services/Telegram/TranslationService.php
  apps/api/app/Telegram/Commands/BaseCommand.php
  apps/api/app/Telegram/Commands/ComandosCommand.php
  apps/api/app/Telegram/Commands/HelpCommand.php
  apps/api/app/Telegram/Commands/StartCommand.php
  apps/api/app/Telegram/Commands/UnknownCommand.php
  apps/api/bootstrap/app.php
  apps/api/composer.json
  apps/api/config/telegram.php
  apps/api/database/migrations/2025_08_15_210000_create_telegram_users_table.php
  apps/api/resources/lang/telegram/en.json
  apps/api/resources/lang/telegram/es.json
  apps/api/routes/api/v1.php
  apps/api/tests/Feature/Telegram/TelegramBotTest.php
  docs/stories/3.1.story.md
Due: prettier --write, php -l

feat(api): add models, factories, and request validation classes
  apps/api/app/Http/Controllers/TestController.php
  apps/api/app/Http/Middleware/ApiVersion.php
  apps/api/app/Http/Middleware/RateLimitHeaders.php
  apps/api/app/Http/Requests/CurrentPricesRequest.php
  apps/api/app/Http/Requests/HistoryRequest.php
  apps/api/app/Http/Requests/MarketTrendRequest.php
  apps/api/app/Http/Requests/NearbyPricesRequest.php
  apps/api/app/Http/Requests/TrendRequest.php
  apps/api/app/Http/Requests/UpdateProfileRequest.php
  apps/api/app/Models/Entidad.php
  apps/api/app/Models/Municipio.php
  apps/api/app/Models/PriceChange.php
  apps/api/app/Models/Station.php
  apps/api/app/Models/UserStation.php
  apps/api/database/factories/EntidadFactory.php
  apps/api/database/factories/MunicipioFactory.php
  apps/api/database/factories/PriceChangeFactory.php
  apps/api/database/factories/StationFactory.php
  apps/api/tests/Feature/HealthControllerTest.php
Due: php -l

fix(scraper): resolve municipio foreign key constraint errors
  apps/api/database/seeders/LocationSeeder.php
  apps/scraper/src/scrapers/dataParser.ts
  apps/scraper/src/scrapers/governmentApi.ts
Due: prettier --write, php -l

feat(api): Enhances NLP and DeepSeek integration
  apps/api/.env.example
  apps/api/app/Exceptions/ExternalServiceException.php
  apps/api/app/Jobs/LogNlpQuery.php
  apps/api/app/Repositories/NlpQueryRepository.php
  apps/api/app/Services/External/DeepSeekService.php
  apps/api/app/Services/Telegram/MessageRouter.php
  apps/api/app/Services/Telegram/NlpProcessor.php
  apps/api/app/Services/Telegram/TelegramSession.php
  apps/api/config/deepseek.php
  apps/api/database/migrations/2025_08_31_145455_create_nlp_queries_table.php
  apps/api/tests/Feature/Telegram/NaturalLanguageTest.php
  apps/api/tests/Integration/Telegram/NlpIntegrationTest.php
  apps/api/tests/Unit/Services/External/DeepSeekServiceTest.php
  apps/api/tests/Unit/Services/Telegram/NlpProcessorTest.php
Due: php -l

feat(api): Adds Telegram analytics services
  apps/api/app/Services/Telegram/AnalyticsService.php
  apps/api/app/Services/Telegram/SparklineGenerator.php
  apps/api/app/Telegram/Commands/RankingCommand.php
  apps/api/app/Telegram/Commands/TendenciaCommand.php
  apps/api/database/migrations/2025_08_31_170000_create_alert_configurations_table.php
Due: php -l

feat(api): Adds console routes and extensive test framework
  apps/api/routes/console.php
  apps/api/tests/Feature/Telegram/AnalyticsCommandsTest.php
  apps/api/tests/Integration/Analytics/AlertSystemTest.php
  apps/api/tests/Integration/Analytics/AnalyticsRepositoryTest.php
  apps/api/tests/Integration/Notifications/WizardFlowTest.php
  apps/api/tests/Unit/Repositories/AlertRepositoryTest.php
  apps/api/tests/Unit/Repositories/UserPreferenceRepositoryTest.php
  apps/api/tests/Unit/Services/Telegram/AnalyticsServiceTest.php
  apps/api/tests/Unit/Services/Telegram/NotificationServiceTest.php
  apps/api/tests/Unit/Services/Telegram/SparklineGeneratorTest.php
Due: php -l

feat(api): Integrates alert and analytics systems
  apps/api/.env.example
  apps/api/app/Console/Commands/ProcessUserAlertsCommand.php
  apps/api/app/Console/Commands/SendDailySummariesCommand.php
  apps/api/app/Contracts/AnalyticsServiceInterface.php
  apps/api/app/Jobs/GenerateAnalyticsJob.php
  apps/api/app/Jobs/GenerateRecommendationsJob.php
  apps/api/app/Jobs/ProcessAlertsJob.php
  apps/api/app/Jobs/SendDailySummaryJob.php
  apps/api/app/Jobs/SendPriceAlertJob.php
  apps/api/app/Jobs/SendRecommendationJob.php
  apps/api/app/Models/AlertConfiguration.php
  apps/api/app/Repositories/AlertRepository.php
  apps/api/app/Repositories/AnalyticsRepository.php
  apps/api/app/Repositories/UserPreferenceRepository.php
  apps/api/app/Services/External/DeepSeekService.php
  apps/api/app/Services/Telegram/AnalyticsService.php
Due: php -l

feat(api): Add Telegram notification and command services
  apps/api/app/Services/Telegram/NotificationService.php
  apps/api/app/Services/Telegram/SparklineGenerator.php
  apps/api/app/Telegram/Commands/AlertaCambiosCommand.php
  apps/api/app/Telegram/Commands/ConfigurarCommand.php
  apps/api/app/Telegram/Commands/HistorialCommand.php
  apps/api/app/Telegram/Commands/MiEstacionCommand.php
  apps/api/app/Telegram/Commands/NotificacionesCommand.php
  apps/api/app/Telegram/Commands/RecomendacionCommand.php
  apps/api/app/Telegram/Commands/SilencioCommand.php
  apps/api/config/analytics.php
  apps/api/resources/views/telegram/daily-summary.blade.php
  apps/api/resources/views/telegram/market-trend.blade.php
  apps/api/resources/views/telegram/price-alert.blade.php
  apps/api/resources/views/telegram/recommendation.blade.php
  apps/api/resources/views/telegram/welcome-summary.blade.php
Due: php -l

feat(docs): ce performance and analytics tools
  apps/scraper/logs/.b3d7db7378bd4b974e4d4b33ba5264fe13877cf0-audit.json
  apps/scraper/logs/.b5dab904a0e9dc9085f3bce5bfbcc12ad79b57b3-audit.json
  docs/stories/3.3.story.md
  docs/stories/3.4.story.md
  docs/stories/3.5.story.md
  docs/stories/3.6.story.md
  docs/stories/4.1.story.md
  docs/stories/4.2.story.md
  docs/stories/4.3.story.md
  docs/stories/4.4.story.md
  docs/stories/4.5.story.md
  docs/stories/4.6.story.md
  docs/stories/5.1.story.md
  docs/stories/5.2.story.md
  docs/stories/5.3.story.md
  docs/stories/5.4.story.md
  docs/stories/5.5.story.md
  docs/stories/5.6.story.md
Due: prettier --write

feat(docs): Add comprehensive QA results for Story 3.5
  docs/stories/3.5.story.md
Due: prettier --write

fix(web): Remove unused CheckIcon component from NotificationBell
  apps/web/src/components/layout/NotificationBell.tsx
Due: prettier --write

fix(auth): Registration validation errors and UUID database schema
  apps/api/database/migrations/2025_08_31_145455_create_nlp_queries_table.php
  apps/api/database/migrations/2025_08_31_170000_create_alert_configurations_table.php
  apps/api/database/migrations/2025_09_01_165427_fix_personal_access_tokens_for_uuid.php
  apps/web/src/pages/auth/Register.tsx
  apps/web/src/stores/authStore.ts
  apps/web/src/test/integration/register-validation.test.tsx
  docs/stories/4.1.story.md
Due: prettier --write, php -l

chore: Update configuration and story documentation
  .husky/pre-push
  apps/web/vite.config.ts
  docs/stories/3.6.story.md
Due: prettier --write

feat(auth): Enhanced login page with Shadcn/ui forms and validation
  apps/web/package.json
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/pages/auth/Login.tsx
  apps/web/src/test/unit/Login.test.tsx
  docs/stories/4.2.story.md
Due: prettier --write

feat(auth): Enhanced authentication store with token management
  apps/web/src/stores/authStore.ts
  apps/web/src/test/unit/authStore.test.ts
  docs/stories/4.2.story.md
Due: prettier --write

feat(auth): Complete token management system with automatic refresh
  apps/web/src/App.tsx
  apps/web/src/services/api/client.ts
  apps/web/src/services/tokenManager.ts
  apps/web/src/test/unit/tokenManager.test.ts
  docs/stories/4.2.story.md
Due: prettier --write

feat(layout): Complete dashboard layout with responsive design
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/test/unit/DashboardLayout.test.tsx
  docs/stories/4.2.story.md
Due: prettier --write

feat(sidebar): Enhanced sidebar navigation with collapsible design
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/test/unit/Sidebar.test.tsx
  docs/stories/4.2.story.md
Due: prettier --write

feat(web): Complete Task 6 - Implement Enhanced Mobile Navigation
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/test/unit/MobileNav.test.tsx
  docs/stories/4.2.story.md
Due: prettier --write

feat(web): Complete Task 7 - Enhanced User Profile Dropdown
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/test/unit/UserMenu.test.tsx
Due: prettier --write

feat(web): Complete Story 4.2 - Authentication & Dashboard Layout
  apps/web/src/components/auth/ProtectedRoute.tsx
  apps/web/src/components/auth/PublicRoute.tsx
  apps/web/src/components/auth/RoleBasedRoute.tsx
  apps/web/src/components/auth/RouteTransition.tsx
  apps/web/src/components/common/AsyncErrorBoundary.tsx
  apps/web/src/components/common/ErrorFallback.tsx
  apps/web/src/components/common/ErrorMessages.tsx
  apps/web/src/components/common/ErrorRecovery.tsx
  apps/web/src/components/common/LoadingOverlay.tsx
  apps/web/src/components/common/ProgressIndicator.tsx
  apps/web/src/components/common/ShimmerEffect.tsx
  apps/web/src/components/common/SkeletonLoaders.tsx
  apps/web/src/components/common/Spinner.tsx
  apps/web/src/components/common/SuspenseBoundary.tsx
  apps/web/src/components/common/index.ts
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/UserMenu.tsx
  apps/web/src/index.css
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/router/index.tsx
  apps/web/src/services/api/auth.service.ts
  apps/web/src/test/integration/complete-auth-flow.test.tsx
  apps/web/src/test/integration/error-handling-flow.test.tsx
  apps/web/src/test/integration/protected-route-navigation.test.tsx
  apps/web/src/test/unit/AuthService.test.ts
  apps/web/src/test/unit/Dashboard.test.tsx
  apps/web/src/test/unit/ErrorComponents.test.tsx
  apps/web/src/test/unit/LoadingComponents.test.tsx
  apps/web/src/test/unit/RouteGuards.test.tsx
  docs/stories/4.2.story.md
Due: prettier --write

feat(web): Task 1 - Create Price Card Components
  apps/web/src/components/features/pricing/PriceCard.tsx
  docs/stories/4.3.story.md
Due: prettier --write

feat(web): Task 2 - Build Competitor Table Component
  apps/web/src/components/features/competitors/CompetitorTable.tsx
  docs/stories/4.3.story.md
Due: prettier --write

feat(web): Task 3 - Implement Map View
  apps/web/package.json
  apps/web/src/components/features/map/StationMap.tsx
  apps/web/src/index.css
Due: prettier --write

feat(web): Task 4 - Create Filter Components
  apps/web/src/components/features/filters/PriceFilters.tsx
Due: prettier --write

feat(web): Task 5 - Implement Enhanced Pricing Store
  apps/web/src/stores/pricingStore.ts
Due: prettier --write

feat(web): Tasks 7-8 - CSV Export & Current Prices Page
  apps/web/src/pages/Prices.tsx
  apps/web/src/utils/csvExport.ts
Due: prettier --write
