Repository kuamatzin/price-tracker-gas-stations: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, scraper

docs: Update story completion status and notes
  docs/stories/4.3.story.md
Due: none

feat(web): Tasks 6, 9, 12-13 - Enhanced Service, Price Logic & Comprehensive Testing
  apps/web/src/components/features/pricing/__tests__/PriceCard.test.tsx
  apps/web/src/services/api/pricing.service.ts
  apps/web/src/stores/__tests__/pricingStore.test.ts
  apps/web/src/test/integration/pricing-api.integration.test.ts
  apps/web/src/test/integration/pricing-page.integration.test.tsx
  apps/web/src/utils/__tests__/csvExport.test.ts
  apps/web/src/utils/__tests__/priceComparison.test.ts
  apps/web/src/utils/priceComparison.ts
Due: web

docs: Mark Story 4.3 as complete with all 13 tasks finished
  docs/stories/4.3.story.md
Due: none

fix: Update TypeScript types and resolve linting issues in test files
  apps/web/src/components/features/pricing/__tests__/PriceCard.test.tsx
  apps/web/src/stores/__tests__/pricingStore.test.ts
  apps/web/src/test/integration/pricing-page.integration.test.tsx
  apps/web/src/utils/__tests__/csvExport.test.ts
  apps/web/src/utils/priceComparison.ts
Due: web

docs: Final story update for PR creation
  docs/stories/4.3.story.md
Due: none

feat(api): Implement multi-station support backend foundation
  apps/api/.env.testing
  apps/api/app/Http/Controllers/Api/V1/UserStationController.php
  apps/api/app/Http/Middleware/RateLimitHeaders.php
  apps/api/app/Models/Station.php
  apps/api/app/Models/User.php
  apps/api/app/Providers/RouteServiceProvider.php
  apps/api/bootstrap/providers.php
  apps/api/routes/api/v1.php
  apps/api/tests/Feature/UserStationApiTest.php
  apps/api/tests/Unit/Models/UserStationRelationshipTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Add station context middleware and update API endpoints
  apps/api/app/Http/Controllers/Api/CompetitorController.php
  apps/api/app/Http/Controllers/Api/PriceController.php
  apps/api/app/Http/Middleware/EnsureStationContext.php
  apps/api/app/Http/Requests/NearbyPricesRequest.php
  apps/api/bootstrap/app.php
  apps/api/routes/api/v1.php
  apps/api/tests/Feature/StationContextApiTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Update authentication responses for multi-station support
  apps/api/app/Http/Controllers/Auth/LoginController.php
  apps/api/app/Http/Controllers/Auth/RefreshController.php
  apps/api/app/Http/Controllers/Auth/RegisterController.php
  apps/api/app/Http/Controllers/ProfileController.php
  apps/api/tests/Feature/AuthMultiStationTest.php
  docs/stories/2.7.story.md
Due: api

feat(docs): Add multi-station architecture support
  docs/analysis/multi-station-impact-analysis.md
  docs/analysis/multi-station-story-updates.md
  docs/features/multi-station-feature.md
  docs/prd/CHANGELOG.md
  docs/prd/epic-2-core-laravel-api-business-logic.md
  docs/prd/epic-4-web-dashboard-mvp.md
  docs/prd/epic-list.md
  docs/prd/index.md
  docs/stories/4.1.story.md
  docs/stories/4.3.story.md
  docs/stories/4.4.story.md
  docs/stories/4.5.story.md
  docs/stories/4.6.story.md
  docs/stories/4.7.story.md
  docs/stories/4.8.story.md
  docs/stories/5.1.story.md
  docs/stories/5.2.story.md
  docs/stories/5.3.story.md
  docs/stories/5.4.story.md
  docs/stories/5.5.story.md
  docs/stories/5.6.story.md
Due: none

feat(api): Complete Task 7 - Create Station Resources
  apps/api/app/Http/Controllers/Api/V1/UserStationController.php
  apps/api/app/Http/Resources/StationDetailResource.php
  apps/api/app/Http/Resources/StationSearchResource.php
  apps/api/app/Http/Resources/UserStationCollection.php
  apps/api/app/Http/Resources/UserStationResource.php
  apps/api/routes/api/v1.php
  apps/api/tests/Unit/Resources/StationSearchResourceTest.php
  apps/api/tests/Unit/Resources/UserStationCollectionTest.php
  apps/api/tests/Unit/Resources/UserStationResourceTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Complete Task 8 - Add Station-specific Query Scopes
  apps/api/app/Http/Controllers/Api/AnalysisController.php
  apps/api/app/Models/AlertConfiguration.php
  apps/api/app/Models/PriceChange.php
  apps/api/app/Models/Station.php
  apps/api/app/Models/Traits/HasStationScope.php
  apps/api/database/factories/AlertConfigurationFactory.php
  apps/api/tests/Unit/Models/AlertScopeTest.php
  apps/api/tests/Unit/Models/StationScopeTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Complete Task 9 - Implement Role-based Permissions
  apps/api/app/Http/Controllers/Api/PriceController.php
  apps/api/app/Http/Middleware/CheckStationRole.php
  apps/api/app/Policies/AlertConfigurationPolicy.php
  apps/api/app/Policies/PriceChangePolicy.php
  apps/api/app/Policies/StationPolicy.php
  apps/api/app/Providers/AuthServiceProvider.php
  apps/api/bootstrap/app.php
  apps/api/bootstrap/providers.php
  apps/api/routes/api/v1.php
  apps/api/tests/Feature/RoleBasedAccessTest.php
  apps/api/tests/Unit/Policies/StationPolicyTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Complete Task 10 - Update Database Seeders
  apps/api/database/seeders/DatabaseSeeder.php
  apps/api/database/seeders/MultiStationSeeder.php
  apps/api/database/seeders/README.md
  docs/stories/2.7.story.md
Due: api

feat(api): Complete Task 11 - Write Unit Tests
  apps/api/tests/Unit/Middleware/StationContextTest.php
  apps/api/tests/Unit/Models/UserStationCrudTest.php
  apps/api/tests/Unit/Validation/StationValidationTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): Complete Task 12 - Write Integration Tests & Story 2.7
  apps/api/tests/Feature/MultiStationIntegrationTest.php
  docs/stories/2.7.story.md
Due: api

feat(api): refines station assignment logic
  apps/api/app/Http/Controllers/Api/V1/UserStationController.php
  apps/api/app/Http/Resources/UserStationResource.php
  docs/stories/2.7.story.md
Due: api

feat(web): Complete Task 1 - Create Price Card Components for Story 4.3
  apps/web/package.json
  apps/web/src/components/features/pricing/PriceCard.tsx
  apps/web/src/components/features/pricing/PriceCardSkeleton.tsx
Due: web

feat(web): Complete Task 2 - Build Competitor Table Component for Story 4.3
  apps/web/src/components/features/competitors/CompetitorCard.tsx
  apps/web/src/components/features/competitors/CompetitorTable.tsx
Due: web

feat(web): Complete Task 5 - Implement Station-Aware Pricing Store for Story 4.3
  apps/web/src/stores/pricingStore.ts
Due: web

feat(web): Complete Task 6 - Build Station-Aware Pricing Service for Story 4.3
  apps/web/src/services/pricing.service.ts
Due: web

chore(docs): Update Story 4.3 completion status
  docs/stories/4.3.story.md
Due: none

feat(web): Complete Task 3 - Implement Map View for Story 4.3
  apps/web/package.json
  apps/web/src/components/features/map/StationMap.tsx
  apps/web/src/components/features/map/StationMarker.tsx
Due: web

feat(web): Complete Task 4 - Create Filter Components for Story 4.3
  apps/web/src/components/features/filters/PriceFilters.tsx
Due: web

feat(web): Complete Task 7 - Create CSV Export Functionality for Story 4.3
  apps/web/package.json
  apps/web/src/utils/csvExport.ts
Due: web

chore(docs): Update Story 4.3 progress - Tasks 3, 4, 7 completed
  docs/stories/4.3.story.md
Due: none

feat(web): Complete Task 8 - Build Current Prices Page for Story 4.3
  apps/web/src/pages/prices/CurrentPrices.tsx
Due: web

feat(web): Complete Task 9 - Implement Price Comparison Logic for Story 4.3
  apps/web/src/utils/priceComparison.ts
Due: web

feat(web): Complete Task 10 - Add Real-time Updates for Story 4.3
  apps/web/src/hooks/usePricePolling.ts
Due: web

chore(docs): Update Story 4.3 progress - Tasks 8, 9, 10 completed
  docs/stories/4.3.story.md
Due: none

feat(web): implement mobile-responsive views for pricing components
  apps/web/src/components/features/competitors/CompetitorCard.tsx
  apps/web/src/components/features/filters/MobileFilterSheet.tsx
  apps/web/src/components/features/map/StationMap.tsx
  apps/web/src/components/features/mobile/SwipeableTabs.tsx
  apps/web/src/hooks/usePullToRefresh.ts
  apps/web/src/pages/prices/CurrentPrices.tsx
Due: web

docs(story): update Story 4.3 progress - Task 11 completed
  docs/stories/4.3.story.md
Due: none

fix(web): integrate priceComparison utilities across pricing components
  apps/web/src/components/features/competitors/CompetitorTable.tsx
  apps/web/src/components/features/map/StationMap.tsx
  apps/web/src/components/features/pricing/PriceCard.tsx
  apps/web/src/pages/prices/CurrentPrices.tsx
  docs/stories/4.3.story.md
Due: web

fix(web): integrate real-time price polling in CurrentPrices page
  apps/web/src/pages/prices/CurrentPrices.tsx
  docs/stories/4.3.story.md
Due: web

test(web): Complete Story 4.3 - Add comprehensive test coverage for pricing components
  apps/web/src/test/integration/competitor-data.test.tsx
  apps/web/src/test/integration/csv-download.test.ts
  apps/web/src/test/integration/error-handling.test.tsx
  apps/web/src/test/integration/filter-application.test.tsx
  apps/web/src/test/integration/map-data-loading.test.tsx
  apps/web/src/test/integration/pricing-api.test.ts
  apps/web/src/test/unit/CompetitorTable.test.tsx
  apps/web/src/test/unit/PriceCard.test.tsx
  apps/web/src/test/unit/PriceFilters.test.tsx
  apps/web/src/test/unit/StationMap.test.tsx
  apps/web/src/test/unit/csvExport.test.ts
  apps/web/src/test/unit/priceComparison.test.ts
  docs/stories/4.3.story.md
Due: web

feat(web): install and configure Recharts charting library
  apps/web/package.json
  apps/web/src/components/charts/ChartContainer.tsx
  apps/web/src/config/chartTheme.ts
  apps/web/src/config/charts.ts
  apps/web/src/types/charts.ts
  apps/web/src/utils/chartAnimations.ts
  docs/stories/4.4.story.md
Due: web

feat(web): implement interactive TrendChart component
  apps/web/src/components/charts/TrendChart.tsx
  docs/stories/4.4.story.md
Due: web

feat(web): create DateRangeSelector with URL state management
  apps/web/src/components/features/analytics/DateRangeSelector.tsx
  docs/stories/4.4.story.md
Due: web

refactor(web): integrate DateRangeSelector with existing UI store
  apps/web/src/components/features/analytics/DateRangeSelector.tsx
  docs/stories/4.4.story.md
Due: web

feat(web): create HistoricalTrends page integrating TrendChart and DateRangeSelector
  apps/web/src/pages/Analytics.tsx
  apps/web/src/pages/analytics/HistoricalTrends.tsx
  apps/web/src/router/index.tsx
  docs/stories/4.4.story.md
Due: web

feat(web): implement FuelTypeToggle with animated transitions
  apps/web/package.json
  apps/web/src/components/features/analytics/FuelTypeToggle.tsx
  apps/web/src/pages/analytics/HistoricalTrends.tsx
  docs/stories/4.4.story.md
Due: web

Path conditions:
  api: any of: apps/api/
  web: any of: apps/web/
  scraper: any of: apps/scraper/
